<br/>
<br/>

<div class="ui main container">



    <div class="ui grid three columns grid stackable">
        <div class="column">
            <div class="ui segment basic padded" style="background: white; border-radius: 8px;">
                <h3 style="color: #999">
                    Relatório CSV
                </h3>

                <h1 style="color: black; margin-top: 0px; margin-bottom: 30px;">
                    Exportar Dados
                </h1>

                <p style="color: grey; font-size: 90%">
                    Salve todos os dados obtidos até agora por categoria:
                </p>

                <a href="/researcher/reports/users" target="_blank">
                    <i class="icon download"></i>
                    Relatório por Usuários
                </a>
                
                <br/>
                
                <a href="/researcher/reports/bots" target="_blank">
                    <i class="icon download"></i>
                    Relatório por Bots
                </a>
                
                <br/>
                
                <a href="/researcher/reports/messages" target="_blank">
                    <i class="icon download"></i>
                    Relatório por Mensagens
                </a>
            </div>
        </div>
    </div>



    <!--div class="ui grid three columns grid stackable">
        <div class="column">
            <div class="ui segment basic padded" style="background: white; border-radius: 8px;">
                <h3>
                    Melhor Bot
                </h3>

                <h1 style="color: #2185d0; margin-top: 0px; margin-bottom: 30px;">
                    Título do Bot
                </h1>

                <p style="color: grey; font-size: 90%">
                    15 mensagens de bots, gerado 452 mensagens propagadas, 
                    30 minutos de foco total, propagado para 92 Voluntários.
                </p>

                <a href="#">
                    <i class="icon star"></i>
                    Ranking Completo
                </a>
            </div>
        </div>

        <div class="column">
            <div class="ui segment basic padded" style="background: white; border-radius: 8px;">
                <h3>
                    Mensagem mais Visualizada
                </h3>

                <h1 style="color: #2185d0; margin-top: 0px; margin-bottom: 30px;">
                    152 views
                </h1>

                <p style="color: grey; font-size: 90%">
                    É claro que a execução dos pontos do programa causa impacto
                    indireto na reavaliação das diversas correntes de pensamento.
                </p>

                <a href="#">
                    <i class="icon star"></i>
                    Ranking Completo
                </a>
            </div>
        </div>

        <div class="column">
            <div class="ui segment basic padded" style="background: white; border-radius: 8px;">
                <h3>
                    Melhor Voluntário
                </h3>

                <h1 style="color: #2185d0; margin-top: 0px; margin-bottom: 30px;">
                    Nome do Voluntário
                </h1>

                <p style="color: grey; font-size: 90%">
                    É claro que a execução dos pontos do programa causa impacto
                    indireto na reavaliação das diversas correntes de pensamento.
                </p>

                <a href="#">
                    <i class="icon star"></i>
                    Ranking Completo
                </a>
            </div>
        </div>
    </div>
    
    

    <br/><br/>

    <div class="ui divider fitted"></div-->
</div>