researcher
dashboard
index

<br/>



<br/>

<div class="container" align="center">
    <h1 class="title">Bate Papo</h1>

    <div id="messages">
        <%#= render @messages %>
    </div>

    <input id="destiny_user_id" type="text" placeholder="ID do Usuário" />

    <button onclick="connect(<%= session[:user]['id'] %>)">
        Conectar na Sala
    </button>

    <input type="text" placeholder="Mensagem" data-behavior="chat_speaker" />
</div>

<br/>

<a href="<%= researcher_logout_path %>">
    Logout
</a>

<!--
inscricao
cable.js > chats.js#3 > chat_channel.rb#1

envio
chat.js#1 > chat.js#2 > chat_channel.rb#1 > message.rb#1 > chat_broadcast_job.rb#1

resposta
chat.js#1 > chat.js#2 > chat_channel.rb#1 > message.rb#1 > chat_broadcast_job.rb#1
-->