<div class="ui inverted segment attached">
    <div class="ui main container">
        <div class="ui inverted secondary menu huge">
            <a class="item disabled ">
                WhatsApp Simulator

                <span class="ui disabled black label">
                    Pesquisador  
                </span>
            </a>

            <a href="<%= researcher_dashboard_index_path %>" class="item">
                Dashboard
            </a>

            <a href="#" class="item">
                Voluntários
            </a>

            <a href="<%= researcher_interactions_path %>" class="item">
                Interações
            </a>

            <a href="<%= researcher_logout_path %>" class="item">
                Sair
            </a>
        </div>
    </div>
</div>