<div class="ui inverted fixed top menu blue large">

    <a href="<%= voluntary_logout_path %>" class="item icon" style="font-weight: 600 !important; letter-spacing: 1px; border: 0px !important;">
        <span class="material-icons" style="font-size: 26px; margin-left: 7px;">menu</span>

        <span style="margin-left: 35px;">
            WhatsApp Researcher
        </span>
    </a>
</div>

<br/>
<br/>
<br/>
<br/>