<div id="menu-voluntary" class="ws-menu">
    <div class="ws-mobile-container-x">
        <div class="ws-mobile-column-1">
            <div class="ws-center">
                <div class="ui dropdown icon large">
                    <i class="bars icon large"></i>

                    <div class="menu shadow-button" style="margin-top: 6px;">
                        <%#*<div class="item">%>
                            <%#*Perfil%>
                        <%#*</div>%>

                        <%#*<div class="item">%>
                            <%#*Mensagens Favoritas%>
                        <%#*</div>%>

                        <%#*<div class="item">%>
                            <%#*Conversas%>
                        <%#*</div>%>

                        <div class="item" onClick="window.location.reload();">
                            Atualizar
                        </div>

                        <a href="<%= voluntary_logout_path %>" class="item" style="color: #333 !important;">
                            Sair
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="ws-mobile-column-2">
            <div style="position: relative; bottom: -1px; left: -1px">
                ReChat 
                <small style="font-weight: 300; font-size: 80%; opacity: 0.5;">
                    &nbsp; News & Information
                </small>
            </div>
        </div>
    </div>
</div>