<br/><br/>

<%#*<div class="ui three columns grid centered">%>
<%#*<div class="column">%>
<div class="ui segment basic very padded center align">

    <h1 class="ui header centered align">
        <b>Editar Bot</b>
    </h1>

    <br/>

    <%= render 'form_edit' %>
</div>