<br/><br/>

<%#*<div class="ui three columns grid centered">%>
<%#*<div class="column">%>
<div class="ui segment basic very padded center align">

    <h1 class="ui header centered align">
<<<<<<< HEAD
        <b>Novo Bot</b>
=======
        <b>Cadastrar Chatbot</b>
>>>>>>> 7bd24b15adbc07b3204254e7e73712369fde6a66
    </h1>

    <br/>


    <%= render 'form_new' %>
</div>