<br/>

<h1 class="ui header">
    <span class="material-icons" style="font-size: 50px;">developer_board</span>

    <div class="content" style="position: relative; bottom: -5px">
        Processamento Textual
    </div>
</h1>

<div class="ui fitted divider"></div>

<br/>

<div>
    <table class="ui table selectable very basic large unstackable">

        <tbody>
        </tbody>
    </table>
</div>