<br/><br/>

<style>
    body {
        background-color: #333;
    }

    .ui.basic.segment {
        border-radius: 8px;
    }

    input {
        padding: 15px !important;
    }
</style>


<div class="ui middle aligned center aligned three column grid stackable">
    <div class="column">

        <div class="ui attached bottom very padded segment" style="border-radius: 8px 8px 0 0; border: 0px !important;">

            <div class="ws-center" style="border-radius: 100%; padding: 18px 20px 14px 20px; background: #e6c131;">
                <%= image_tag 'researcher (6).png', width: 60 %>
            </div>

            <h1 class="ws-font-poppins" style="margin-top: 15px; font-size: 24px !important; font-weight: 800 !important;">
                ReChat
            </h1>

            <br/>

            <%= form_with url: '/guest/users/login', class: 'ui large form', local: true do %>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="user[name]" placeholder="Nome de usuário" value="usuario02" />
                    </div>
                </div>

                <br/>

                <button class="ui big center blue button" type="submit">
                    Entrar
                    <i class="icon arrow right"></i>
                </button>
              <% end %>
          </div>

          <div class="ws-message-success-bottom">
              <i class="info icon"></i>
              Ainda não é usuário ?

              &nbsp;

              <a href="<%= guest_sign_in_path %>">
                  <b>Cadastre-se Agora</b>
              </a>
          </div>
      </div>
  </div>

  <br/>

  <style>
      .ws-message-success-bottom {
          border-radius: 0 0 8px 8px;
          color: #1a531b;
          background: #f2f8e3;
          padding: 15px 20px;
          border: 2px solid #f2f8e3;
          width: calc(100% + 2px);
          margin-left: -1px;
          margin-top: -1px;
      }
  </style>