<div class="messages" style="font-weight: bold;">

    <div>
        <%= message.origin_user.entity_name %>
    </div>

    <div style="
         font-family: 'Roboto';
         font-size: 12px;
         line-height: 20px;
         font-weight: 500;
         color: grey;
         display: inline-block;
         padding: 5px;
         ">
             <%= message.content %>
    </div>

    <hr/>
</div>