<div class="ws-message messages">
    <% if session[:user]['id'] == message.origin_user_id %>
      <div class="ws-message-right ws-behavior-message">
          <%= render partial: 'researcher/messages/message_raw', locals: {message: message} %>
      </div>
    <% else %>
      <div class="ws-message-left ws-behavior-message scroll-item">
          <%= render partial: 'researcher/messages/message_raw', locals: {message: message} %>
      </div>
    <% end %>
</div>