<div class="ws-message messages">
    <div class="ws-message-right ws-behavior-message">
        ...
        <%= render partial: 'researcher/messages/message_raw', locals: {message: message} %>
    </div>
</div>