<div class="ws-message messages scroll-item">
    <% if session[:user]['id'] == message.origin_user_id %>
      <div class="ws-message-right ws-behavior-message">
          <%= render partial: 'researcher/messages/message_raw', locals: {message: message} %>
      </div>
    <% else %>
      <div class="ws-message-left ws-behavior-message">
          <%= render partial: 'researcher/messages/message_raw', locals: {message: message} %>
      </div>
    <% end %>
    
    <div class="ws-center-absolute-xy behavior-label" style="background-color: yellow; font-family: 'tahoma'; font-weight: bold; font-size: 10px;">
        teste
    </div>
</div>