<%= render 'menu_user' %>

<style>

    body {
        background-image: url('https://i.pinimg.com/originals/51/ed/c0/51edc046eb80046ee4755ee71d0f19ca.jpg');
        background-size: 100% 100%;
        background-repeat: repeat;
    }

    .ws-message {
        display: table;
        width: 100%;
    }

    .ws-message-left,
    .ws-message-right {
        display: table;
        max-width: 80%;
        padding: 5px 10px;
        background: white;
        border-radius: 8px;
        margin: 2px 15px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }

    .ws-message-left {
        float: left;
    }

    .ws-message-right {
        float: right;
        background-color: #effedd;
    }

    
    .ws-send-message-painel {
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        padding: 3px 5px;
    }
    .ws-send-message-painel .ui.search {
        float: left; width: calc(100% - 57px)
    }
    .ws-send-message-painel .ui.search input {
        width: 100%; padding: 15px; border: 0px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
    .ws-send-message-painel .ui.button {
        float: right; padding: 12px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
</style>

<div class="ws-container-contacts" style="max-height: calc(100% - 115px) !important; padding-top: 10px;">
    <div class="ws-message">
        <div class="ws-message-right">
            hi
        </div>
    </div>

    <div class="ws-message">
        <div class="ws-message-left">
            O empenho em analisar a hegemonia do ambiente político oferece uma
            interessante oportunidade para verificação das diretrizes de
            desenvolvimento para o futuro.
        </div>

        <div class="ws-message-left">
            O empenho em analisar a hegemonia do ambiente.
        </div>

        <div class="ws-message-left">
            para verificação das diretrizes
        </div>
    </div>

    <div class="ws-message">
        <div class="ws-message-right">
            Assim mesmo, a estrutura atual da organização representa uma abertura
            para a melhoria dos paradigmas corporativos.
        </div>

        <div class="ws-message-right">
            representa uma abertura para a melhoria dos paradigmas corporativos.
        </div>
    </div>

    <div class="ws-message">
        <div class="ws-message-left">
            hi
        </div>
    </div>

    <div class="ws-message">
        <div class="ws-message-right">
            hi
        </div>
    </div>

    <% last_side = current_side = nil %>
    <% Message.where("origin_user_id = #{session[:user]['id']} OR destiny_user_id = #{session[:user]['id']}").order(:created).each do |m| %>

      <% current_side = m.origin_user_id == session[:user]['id'] ? 'right' : 'left' %>

      <%= '<div style="padding: 4px;"></div>'.html_safe if current_side != last_side %>

      <%= render partial: 'message', locals: {message: m} %>

      <% last_side = current_side %>
    <% end %>
</div>

<div class="ws-send-message-painel">
    <div class="ui search" >
        <input class="prompt behavior-input-type-message" type="text" placeholder="Digite uma mensagem..." />
    </div>

    <div class="ui button icon circular blue shadow-button behavior-button-send-message">
        <span class="material-icons">send</span>
    </div>
</div>

<script>
  $(document).ready(function () {
      $('.ws-container-contacts').scrollTop(1000000000);
  });
</script>