<div class="ws-loading-global ui active dimmer active">
    <div class="ui loader"></div>

    <div id="loading-reload" style="color: grey; padding: 10px; text-align: center; margin: 0px auto; margin-top: 140px; display: none;">
        Se o carregamento está demorando

        <br/>
        <br/>

        <a href="#" onclick="location.reload();">
            Clique aqui
        </a>
    </div>
</div>

<script>


  function loading() {
      $('.ws-loading-global').fadeIn();


      setTimeout(function () {
          $('#loading-reload').show();
      }, 8000);
  }

  function loaded() {
      $('.ws-loading-global').fadeOut();
      $('#loading-reload').hide();
  }

</script>