<div
    style="
    background: #<%= ApplicationHelper.random_color %>;
    height: 53px;
    width: 53px;
    display: table;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    margin: 0px auto;
    border-radius: 100%;
    position: relative;
    ">

    <div style="
         color: white;
         left: 50%;
         top: 50%;
         position: absolute;
         transform: translate(-50%, -50%);
         font-weight: 200;
         font-family: 'Ubuntu', sans-serif;
         font-weight: 800;
         font-size: 16px;
         ">

        <%= text %>
    </div>
</div>