<style>
    html, body {
        background: white;
    }

    .ws-shadow-1 {
        box-shadow:0 0 10px rgba(0, 0, 0, 0.1) !important;
    }

    .grid, .row, .column {
        padding: 0px !important;
    }

    /*
custom shadows
    */

    .shadow {
        /*box-shadow: 0 0 2rem 0 rgba(136,152,170,.15) !important;*/
        box-shadow: 0 0 13px 0 rgba(82,63,105,.05) !important;
        /*box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);*/
    }

    .shadow-input {
        box-shadow: 0 3px 9px rgba(50,50,9,0), 3px 4px 8px rgba(94,114,228,.1) !important;
    }
    .shadow-button{
        box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08) !important;
    }
    .shadow-segment {
        box-shadow: 0 0 40px 0 rgba(0,0,0,.15) !important;
    }
</style>

<div style="padding-left: 15px; width: calc(100% - 21px);">
    <% Contact.where(user_id: session[:user]["id"]).each do |c| %>

      <div class="ui two column very relaxed grid" style="position: relative;">
          <div class="four wide column">

              <div
                  class="shadow-button"
                  style="
                  background: #<%= ApplicationHelper.random_color %>;
                  height: 53px;
                  width: 53px;
                  display: table;
                  margin-top: 10px !important;
                  margin-bottom: 10px !important;
                  margin: 0px auto;
                  border-radius: 100%;
                  position: relative;
                  ">

                  <div style="
                       color: white;
                       left: 50%;
                       top: 50%;
                       position: absolute;
                       transform: translate(-50%, -50%);
                       font-weight: 200;
                       font-family: 'Ubuntu', sans-serif;
                       font-weight: 800;
                       font-size: 16px;
                       ">

                      <%= I18n.transliterate(c.name[0..1]) %>
                  </div>
              </div>
          </div>

          <div class="twelve wide middle aligned column">
              <div>
                  <b style="font-weight: 800;">
                      <%= c.name %>
                  </b>
              </div>

              <% if c.type_acronym_id == 603 %>
                <div style="color: #333; margin-top: 3px; font-size: 90%; font-weight: 600">
                    Chefe: É claro que a consolidação das e...
                </div>
              <% else %>
                <div style="color: grey; margin-top: 3px; font-size: 90%">
                    A nível organizacional, o fenômeno da I...
                </div>
              <% end %>

          </div>

          <div style="position: absolute; bottom: 0px; right: 0px; border-bottom: 1px solid #ddd; width: calc(80% - 10px);"></div>
          <div style="position: absolute; top: 10px; right: 10px; font-size: 80%; color: grey">
              10:23
          </div>
      </div>
    <% end %>

</div>