<style>
    html, body {
<%#*background: white;%>
    }
</style>

<br/>

<% Contact.where(user_id: session[:user]["id"]).each do |c| %>

  <div class="ui segment basic">
      <div class="ui grid">
          <div class="four wide column">
              <img src="https://semantic-ui.com/images/avatar/small/jenny.jpg" class="ui image circular ws-center" style="_border-radius: 8px;" />
          </div>

          <div class="twelve wide column" style="padding-left: 0px; padding-top: 20px;">
              <div>
                  <b style="font-weight: 800;">
                      <%= c.name %>
                  </b>
              </div>

              <div style="color: grey; margin-top: 3px; font-size: 90%">
                  Mensagem
              </div>
          </div>
      </div>
  </div>

<%#*<div class="ui divider fitted ws-center" style="width: 50%;"></div>%>
<% end %>