<style>
    html, body {
<%#*background: white;%>
    }

    .ws-shadow-1 {
        box-shadow:0 0 10px rgba(0, 0, 0, 0.1) !important;
    }

</style>


<div class="ui segment basic" style="border-radius: 5px;">

    <div class="ui grid box">

        <% Contact.where(user_id: session[:user]["id"]).each do |c| %>
          <div class="row" style="_padding: 25px 0px; border-bottom: 8px solid #f4f4f4;">
              <div class="four wide column" style="_background: red;">
                  <% if c.type_acronym_id == 603 %>
                  <img
                      _src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSTHpIU20KuIUDxIec6yi2TrXCIYxEmXa2wUGgTBY54NovnoByx&usqp=CAU"
                      _src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-group-512.png"
                      _src="https://cdn2.iconfinder.com/data/icons/avatar1/166/Untitled-1-512.png"
                      src="https://cdn0.iconfinder.com/data/icons/superuser-web-kit/512/686912-users_people_men_humans_heads_persons-512.png"
                      class="ui image circular ws-center"
                      style="opacity: 0.5"
                      width="60px"/>
                  <% else %>
                  <img
                      src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSTHpIU20KuIUDxIec6yi2TrXCIYxEmXa2wUGgTBY54NovnoByx&usqp=CAU"
                      class="ui image circular ws-center"
                      style="opacity: 0.5"
                      width="60px"/>
                  <% end %>
              </div>

              <div class="twelve wide column" style="padding: 0px; padding-top: 8px;">
                  <div>
                      <b style="font-weight: 800;">
                          <%= c.name %>
                      </b>
                  </div>

                  <div style="color: grey; margin-top: 3px; font-size: 90%">
                      <%#*Preenchimento textual para teste.%>
                      <%= (0...28).map { (65 + rand(26)).chr }.join %>
                  </div>
              </div>
          </div>

  <%#*<div class="ui divider fitted" style="width: 100px !important;"></div>%>

        <% end %>

    </div>
</div>